.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #ff8a00, #e52e71);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background: linear-gradient(to right, #e52e71, #ff8a00);
}

.register-link {
  margin-top: 20px;
}

.register-link p {
  font-size: 14px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .login-container {
    padding: 10px;
  }

  .login-input {
    font-size: 14px;
  }

  .login-button {
    font-size: 14px;
  }
}
