.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.order-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.order-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #ff8a00, #e52e71);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.order-button:hover {
  background: linear-gradient(to right, #e52e71, #ff8a00);
}

@media (max-width: 600px) {
  .order-form {
    padding: 10px;
  }

  .form-group input {
    font-size: 14px;
  }

  .order-button {
    font-size: 14px;
  }
}
