.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-input {
  padding: 10px;
  border: 1 solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.register-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #ff8a00, #e52e71);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.register-button:hover {
  background: linear-gradient(to right, #e52e71, #ff8a00);
}

@media (max-width: 600px) {
  .register-container {
    padding: 10px;
  }

  .register-input {
    font-size: 14px;
  }

  .register-button {
    font-size: 14px;
  }
}
