.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  min-height: 100vh;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

header ul {
  list-style: none;
  padding: 0;
}

header li {
  display: inline;
  margin: 0 10px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}
